/* Reset margin, padding, dan box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f4f6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header Styling */
header {
    background-color:  rgba(26, 26, 26, 0.8);;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(202, 196, 196, 0.2);
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 5px;
}

header p {
    font-size: 1.2em;
    font-style: italic;
}

/* Main Content Styling */
.main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 900px;
    width: 100%;
}

/* Article Card Styling */
.berita-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #007bff;
    transition: transform 0.2s, box-shadow 0.2s;
}

.berita-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0)
}